input.ui-button-text, button{
	background: url("images/ui-bg_glass_75_7cbf0d_1x400.png") repeat-x scroll 50% 50% #7CBF0D;
    border: 1px solid #72AA13;
    color: #FFFFFF;
    font-weight: bold;
}

.sideline {
	width: 18%
}

.mainColumn {
	width: 81%;
}

.chatLink {
	color: #333333;
}

.clear {
	clear: both;
}

.quickviewSpecial {
	text-align: left;
}

.tipify {
	cursor: pointer;
}

.shiplatency {
	text-align: center;
	width: 100%;
	font-weight: bold;
	margin: 10px 0px;
	font-size: 1.2em;
}

#contactForm {
	float: left;
	width: 500px;
}

#contactForm input, 
#contactForm textarea {
	width: 350px;
}
#contactForm input[type='submit'] {
	width: 150px;
}

#contactSeparator, #contactChat {
	float: left;
	height: 300px;
}

#contactSeparator {
	width: 50px;
	line-height: 300px;
	font-size: 2em;
	color: #87868A;
	opacity: .7;
	margin: 0px 20px;
}

#contactChat {
	width: 200px;
	position: relative;
}

#contactChat a {
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -20px;
	vertical-align: middle;
	text-align: center;
}