input.ui-button-text, button{
	background: url("images/ui-bg_glass_75_7cbf0d_1x400.png") repeat-x scroll 50% 50% #7CBF0D;
    border: 1px solid #72AA13;
    color: #FFFFFF;
    font-weight: bold;
}

.sideline {
	width: 18%
}

.mainColumn {
	width: 81%;
}

.chatLink {
	color: #333333;
}

.clear {
	clear: both;
}

.quickviewSpecial {
	text-align: left;
}

.tipify {
	cursor: pointer;
}

.shiplatency {
	text-align: left;
	padding-left: 44px;
	font-weight: bold;
	font-size: 1em;
	background: url(images/gk09_icon_shipping-42x25.png) left center no-repeat;
	/*
	text-indent: -20px;
	*/
}

#contactForm {
	float: left;
	width: 500px;
}

#contactForm input, 
#contactForm textarea {
	width: 350px;
}
#contactForm input[type='submit'] {
	width: 150px;
}

#contactSeparator, #contactChat {
	float: left;
	height: 300px;
}

#contactSeparator {
	width: 50px;
	line-height: 300px;
	font-size: 2em;
	color: #87868A;
	opacity: .7;
	margin: 0px 20px;
}

#contactChat {
	width: 200px;
	position: relative;
}

#contactChat a {
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -20px;
	vertical-align: middle;
	text-align: center;
}

.prodBannerContainer {
	height: 41px;
	margin-bottom: 0px;
	overflow: hidden;
}

.quickviewProdBannerContainer {
	padding-left: 24px;
}

.quickviewScroll {
	height: 180px;
	overflow: scroll;
	margin-top: 20px;
}

.lineItemProdlist li {
	border-bottom: 1px dotted #999999;
}

#checkoutStuffList {
	width: 50%;
	min-width: 430px;
}

#cartTemplateCostSummary div {
	margin: 8px 0px;
	border-bottom: 1px dotted #999999;
}

#cartTemplateCostSummary div:last-of-type {
	border-bottom:none;
}

#cartTemplateCostSummary {
	margin-bottom: 30px;
}

#cartTemplateCostSummary {
	border: 1px dotted #999999;
	padding: 5px;
}

.preflightInputContainer {
	width: 45%;
	float: left;
}

.preflightInputContainer label {width: 80px;display:inline-block;}

.hideDialog .ui-dialog-titlebar-close,
.hideDialog .ui-dialog-titlebar {
	display: none;
}

.hideDialog.ui-dialog.ui-widget-content {
	background: none;
	border:none;
}

#couponFrmContainer {
	font-size: .9em;
	margin-bottom: 12px;
}

#couponContainer {
	clear: right;
}

#chkoutSummaryErrors {
	width: 300px;
	clear: both;
}

.checkoutProdInfoContainer {
	width: 268px;
}

#checkoutStuffList li {
	margin-left:0px;
	margin-right:0px;
}

#checkoutOrderContainer {
	width: 292px;
}

.paddingTop{padding-top: 12px;}
.borderTop{ border-top: 1px dotted #999999;} 

.appAccordianesque .ui-state-default, 
.appAccordianesque .ui-widget-content .ui-state-default, 
.appAccordianesque .ui-widget-header .ui-state-default,
.ui-widget-content address.ui-state-default {
    color: black;
}
.ui-widget-content address.selected.ui-state-active {
	background: url("images/ui-bg_glass_75_7cbf0d_1x400.png") repeat-x scroll 50% 50% #7CBF0D;
    border: 1px solid #72AA13;
    color: #FFFFFF;
    font-weight: bold;
}

.checkoutFormContainer fieldset {
	background: white;
}

.loginShow {
	display:none;
}

.buyerLoggedIn .loginShow{display:block;}
.buyerLoggedIn span.loginShow{display:inline-block;}
.buyerLoggedIn .loginHide {display:none;}


#createAccountArticle form fieldset{
	width: 290px;
}
#createAccountArticle div {margin: 5px 0px;}
#createAccountArticle label, #createAccountArticle input {
	width: 140px;
	display: inline-block;
}

#createAccountArticle input[type=submit] { float: right; margin-top: 15px;}

.dynamicbanners {
	position: absolute;
	left: 350px;
	height: 100px;
	width: 350px;
}

.dynamicbanners img {
	max-height: 100px;
	max-width: 350px;
}