.ui-button.ui-state-default.ui-button-text-only{
    background: linear-gradient(to bottom, #1E5799 0%, #2989D8 50%, #207CCA 51%, #7DB9E8 100%) repeat scroll 0 0 transparent;
    border: medium none;
    box-shadow: 0 2px 4px 1px #000000;
    color: #FFFFFF;
    font-size: 1.3em;
    font-weight: bold;
    padding: 4px;
    text-shadow: 1px 1px 1px #050561;
}

.hideDialog .ui-dialog-titlebar-close,
.hideDialog .ui-dialog-titlebar {
	display: none;
}
.redirectToSiteApp {text-align:center;}

.floatLeft {float: left;}
.floatRight{float: right;}

.stopFutureRedirectMessage {display:none;}


.ui-dialog .ui-dialog-content.redirectToSiteApp, 
.ui-dialog .ui-dialog-content.autoRedirectToSiteApp {
    background: url("images/body_bg-9x7.gif") repeat scroll 0 0 transparent;
    font-family: MyriadPro-Regular,'Myriad Pro Regular',MyriadPro,'Myriad Pro',Helvetica,Arial,sans-serif;
}